{% extends 'voxmed/base_reports.html' %}
{% block title %}{% if member.role == 'doctor' %}{{member.name}}'s Reports{% elif member.role == 'patient' %}{{member.name}}'s Reports Assigned{% endif %}{% endblock %}
{% block body %}

<style>
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.header {
  background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6),rgba(0,0,0,0.6),rgba(0,0,0,0.7)), url("/static/voxmed/images/headerbackground.jpg");
  background-size: 100%, 100%;
  text-align:center;
  height:70px;
}

.table-business {
  width: 100%;
  background-color: white;
  overflow-x:auto;
}

.table-business1 {
  width: 100%;
  background-color: white;
  overflow-x:auto;
  position: relative;
  margin-top:70px;
  display:none;
}

.table>tbody>tr>td{
    vertical-align: middle;
    horizontal-align: middle;
}

table td, table th {
  color: #2b686e;
  padding: 10px;
  border: 1px solid white;
  text-align: center;
  vertical-align: middle;
}
table td {
  text-align: center;
  vertical-align: middle;
}
table td:last-child {
  font-size: 0.95em;
  line-height: 1.4;
  text-align: center;
}
table th {
  background-color: #04a2be;
  font-weight: 520;
  color:white;
  text-align: center;
  vertical-align: middle;
}
table tr:nth-child(2n) {
  background-color: white;
  border: 1px solid #327a81;
}
table tr:nth-child(2n+1) {
  background-color: #edf7f8;
  border: 1px solid white;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 10px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 15px;
}

#myBtn:hover {
  background-color: orange;
}

#admin{
    width:60px; height:60px; border-radius:5%; background:white; margin-top:20px; margin-left:10px; z-index:2; position:fixed; box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1); display:none;
}

.centered-and-cropped { object-fit:cover }

.busiaddress{
    color:black;
}

.busiaddress:hover{
    color:red;
}

.owner_name{color:black;}

.hint{
    color:red;
    font-size:12px;
    display:none;
}

.hyperlink:hover .hint {
    display:block;
}

.hyperlink{
    color:black;
    font-size:25px;
}

.desc{
    font-size:14px;
    width:100%;
    text-align:left;
    height:3.0em;
    line-height: 1.5;
    text-overflow:ellipsis;
    overflow:hidden;
    color:black;
}

label input {
  display: none;/* <-- hide the default checkbox */
}

label span {/* <-- style the artificial checkbox */
  height: 15px;
  width: 15px;
  border-radius:50%;
  border: 1px solid black;
  background-color:transparent;
  margin-right:3px;
  display: inline-block;
  position: relative;
}

[type=checkbox]:checked + span:before {/* <-- style its checked state..with a ticked icon */
  content: '\2714';
  color:white;
  position: absolute;
  top: -5px;
  left: 0;
}
</style>

<script>
	history.pushState(null, null, location.href);
	window.onpopstate = function () {
        history.go(1);
    };
</script>

<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="../lib/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="no_result" style="font-size:25px; font-weight:300; color: black; text-align:center;
	position:fixed; left:50%; float:middle; padding: 10px 15px 10px 15px;
	transform:translate(-50%, -50%); width:auto; z-index:100; top:400px; display:none;">
    No result searched ...
</div>

<div onclick="showNotifications()" id="alert" style="font-size:18px; font-weight:300; color: black; text-align:center; box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.9);
	position:fixed; left:2%; float:middle; background-color:white; border-radius:3px; padding: 8px 12px 8px 12px;
	width:180px; z-index:100; top:85px; display:none;">
    <i class="fa fa-bell" style="font-size:16px; color:red;"/></i>
	New Message!<br>
	<div style="color:red; font-size:14px; margin-top:5px;">Click here to view.</div>
</div>


<img class="centered-and-cropped" src="/static/voxmed/images/logo.png" id="admin">

<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="table-business1" id="header" style="z-index:1; position:relative; background:transparent;" align="top">
    <table cellspacing="0" class="table table-fit">
        <tr>
            <th style="width:4%;">id</th>
            <th style="width:6%;">Doctor</th>
            <th style="width:6%;">Patient</th>
            <th style="width:30%;">Report</th>
            <th style="width:6%;">Audio</th>
            <th style="width:6%;">Picture</th>
            <th style="width:8%;">Date-Time</th>
            <th style="width:5%;">Status</th>
            <!--<th style="width:5%;">Approve</th>-->
            <!--<th style="width:5%;">Decline</th>-->
            <th style="width:5%;">Manage</th>
        </tr>
    </table>
</div>

<div class="table-business">
    <div class="header">
    </div>
    <form action="#" method="post">
        {% csrf_token %}
    <table cellspacing="0" class="table table-fit">
        <tr>
            <th style="width:4%;">id</th>
            <th style="width:6%;">Doctor</th>
            <th style="width:6%;">Patient</th>
            <th style="width:30%;">Report</th>
            <th style="width:6%;">Audio</th>
            <th style="width:6%;">Picture</th>
            <th style="width:8%;">Date-Time</th>
            <th style="width:5%;">Status</th>
            <!--<th style="width:5%;">Approve</th>-->
            <!--<th style="width:5%;">Decline</th>-->
            <th style="width:5%;">Manage</th>
        </tr>
        {% if reports %}
            {% for report in reports %}
            <tr class="test" id="{{report.id}}">
                <td><div>{{forloop.counter}}</div></td>
                <td>
                    <a href="{{report.doctor.picture_url}}" target="_blank">
                        <img class="centered-and-cropped" src="{{report.doctor.picture_url}}" alt="" style="width:60px; height:60px; border-radius:50%;"/>
                    </a>
                    <div style="font-size:10px; color:black;">{{report.doctor.name}}</div>
                </td>
                <td>
                    <a href="{{report.patient.picture_url}}" target="_blank">
                        <img class="centered-and-cropped" src="{{report.patient.picture_url}}" alt="" style="width:60px; height:60px; border-radius:50%;"/>
                    </a>
                    <div style="font-size:10px; color:black;">{{report.patient.name}}{% if report.patient.age != '' %}, {{report.patient.age}}{% endif %}</div>
                </td>
                <td><div class="desc">{{report.report}}</div></td>
                <td>
                    <a href="javascript:void(0);" onclick="javascript:openAudio(this);">
                        <img class="centered-and-cropped" src="/static/voxmed/images/audio.png" alt="" style="width:50px; height:50px; border-radius:50%;"/>
                        <input type="hidden" id="audioStoryUrl" value="{{report.audio}}">
                    </a>

                </td>
                <td>
                    {% if report.picture %}
                        <a href="/pictures?report_id={{report.id}}" target="_blank">
                            <img class="centered-and-cropped" src="{{report.picture}}" alt="" style="width:60px; height:60px; border-radius:5%;"/>
                        </a>
                    {% endif %}
                </td>
                <td><div id="date" style="color:black; font-size:14px;">{{report.date_time}}</div></td>
                <td>
                    <div>
                        {% if report.status == 'corrected' %}
                            <img src="/static/voxmed/images/corrected.png" style="width:30px; height:30px;">
                            <div style="color:green; font-size:11px; font-family:cursive;">Corrected</div>
                        {% else %}
                            <img src="/static/voxmed/images/correctable.png" style="width:30px; height:30px;">
                            <div style="color:gray; font-size:11px; font-family:cursive;">Uncorrected</div>
                        {% endif %}
                    </div>
                </td>
                <td>
                    <a href="/manage?report_id={{report.id}}" role="button">
                        <img src="/static/voxmed/images/manage.png" style="width:30px; height:30px;">
                    </a>
                </td>
            </tr>
            {% endfor %}
        {%else %}
            <script>document.getElementById('no_result').style.display = 'block';</script>
        {% endif %}
        </table>
    </form>
</div>

<div id="audioBox" style="font-size:16px; font-weight:300; color: black; box-shadow: 0px 0px 100px rgba(0, 0, 0, 1.0);
	position:fixed; left:50%; float:middle; background-color:white; border-radius:30px; padding: 10px; text-align:center;
	transform:translate(-50%, -50%); width:300px; z-index:900; top:400px; display:none;">
    <img src="/static/voxmed/images/cancel.png" style="width:25px; height:25px; float:right;" onclick="javascript:document.getElementById('audioBox').style.display='none';">
    <center>
        <img src="/static/voxmed/images/voiceicon.png" style="width:50px; height:50px;"><br>
        <label style="font-size:18px; font-weight:500; color:red;" id="audioTitle"></label>
    	<audio controls id="audio" style="width:280px;">
          <source src="" type="audio/ogg">
          <source src="" type="audio/mpeg">
        Your browser does not support the audio element.
        </audio>
    </center>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $(window).on('scroll', function () {

  var $w = $(window);
  $('.position-fixed-x').css('left', $w.scrollLeft());
  $('.table-business1').css('top', $w.scrollTop());

});
</script>

<script>


// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("header").style.display = "block";
        document.getElementById("myBtn").style.display = "block";
        document.getElementById("admin").style.display = "block";
        document.getElementById("navbar").style.backgroundColor = "black";
    } else {
        document.getElementById("header").style.display = "none";
        document.getElementById("myBtn").style.display = "none";
        document.getElementById("admin").style.display = "none";
        document.getElementById("navbar").style.backgroundColor = "transparent";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}

</script>


<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyD8sQq7bU0totrjzZw5FiK5lr8WQ2kjFmM",
    authDomain: "qhome-43cdd.firebaseapp.com",
    databaseURL: "https://qhome-43cdd.firebaseio.com",
    storageBucket: "qhome-43cdd.appspot.com"
  };
  firebase.initializeApp(config);
</script>

<script>
	function showNotifications(){
		window.location.href = "/adminNotifications";
	}

</script>

<script>

ScrollTo({{report_id}});

function ScrollTo(name) {
  //init thread
  ScrollToResolver(document.getElementById(name));
}

function ScrollToResolver(elem) {
  elem.style.backgroundColor = "#ffccff";
  var jump = parseInt(elem.getBoundingClientRect().top * .2);
  document.body.scrollTop += jump - 50;
  document.documentElement.scrollTop += jump - 50;
  //lastjump detects anchor unreachable, also manual scrolling to cancel animation if scroll > jump
  if (!elem.lastjump || elem.lastjump > Math.abs(jump)) {
    elem.lastjump = Math.abs(jump);
    setTimeout(function() {
      ScrollToResolver(elem);
    }, "100");
  } else {
    elem.lastjump = null;
  }
}

</script>

<script>

createjs.Sound.registerSound("/static/qhome/sound/notification.mp3", "x");
navigator.vibrate = navigator.vibrate || navigator.webkitVibrate || navigator.mozVibrate || navigator.msVibrate;

var keys = [];
var ref = firebase.database().ref('toadmin');
ref.on('child_added', function(snapshot) {
	var key = snapshot.val();
	keys.push(key);
	if(keys.length == 1){
		createjs.Sound.play("x");
	//	document.getElementById("alert").style.display = 'block';
		if (navigator.vibrate) {
			// vibration API supported
			navigator.vibrate(500);
		}else {
			window.navigator.vibrate(500); // vibrate for 500ms
		}
	}
});

</script>

<script>

$(document).ready(function() {
   $(document).ready(function() {
        $('.table #date').each(function(i) {
            this.innerHTML = getDate(parseInt(this.innerHTML));
        });

        $('.table .desc').each(function(i) {
            const response = this.innerHTML
            const decoded = response
              .replace(/\\u(....)/g, (match, p1) => String.fromCharCode(parseInt(p1, 16)))
              .replace(/\\(\d{3})/g, (match, p1) => String.fromCharCode(parseInt(p1,  8)))
            this.innerHTML = decoded;
        });
   });
});

function getDate(ms){
    var months = ['January', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
    var date = new Date(ms);
    var seconds = date.getSeconds();
    var minutes = date.getMinutes();
    var hours = date.getHours();

    var year = date.getFullYear();
    var month = date.getMonth(); // beware: January = 0; February = 1, etc.
    var day = date.getDate();

    var dayStr = day;
    if(day < 10) dayStr = '0' + day;

    var hourStr = hours;
    if(hours < 10) hourStr = '0' + hours;

    var minStr = minutes;
    if(minutes < 10) minStr = '0' + minutes;

    var dateStr = months[month] + ' ' + dayStr + ', ' + year + ' ' + hourStr + ':' + minStr;
    return dateStr;
}

function openAudio(obj){
    document.getElementById("audioBox").style.display = "block";
    var url = obj.querySelector("input[id='audioStoryUrl']").value;
    document.getElementById("audio").src = url;
    document.getElementById("audio").play();
}

</script>

{% endblock %}



























































