{% extends 'voxmed/base.html' %}
{% block title %}Reset Password{% endblock %}
{% block body %}

<br>
<br>

<style>

html, body{
  background: url("/static/voxmed/images/accountbg.jpg") no-repeat center center fixed;
  background-size:cover;
}

img {
  height: 80px;
  width: 80px;
}

.info i {
  color:#F6AA93;
}

form h1 {
  font-size: 21px;
  background: #327a81 none repeat scroll 0% 0%;
  color: rgb(255, 255, 255);
  padding: 19px 22px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  text-shadow: none;
  text-align:left
}

#edit {
  border-radius: 5px;
  max-width:500px;
  width:auto;
  height:auto;
  margin-bottom: 2% auto;
  margin-left:auto;
  margin-right:auto;
  opacity:0.9;
  overflow: hidden;
}

p span {
  color: #F00;
}

p {
  margin: 0px;
  font-weight: 600;
  line-height: 2;
  color:#fff;
}

h1 {
  text-align:center;
  color: #666;
  text-shadow: 1px 1px 0px #FFF;
  margin:50px 0px 0px 0px
}

input {
  border-radius: 0px 50px 50px 0px;
  border: 1px solid #eee;
  margin-bottom: 15px;
  margin-right:auto;
  width: 92%;
  height: 42px;
  float: middle;
  padding: 0px 15px;
  opacity: 0.8;
  color:black;
}

a {
  text-decoration:inherit
}

textarea {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #EEE;
  margin: 0;
  width: 75%;
  height: 130px;
  float: left;
  padding: 15px 15px;
  opacity: 0.8;
  color:black;
}

.form-group {
  overflow: hidden;
  width:100%;
}

.icon-case {
  width: 8%;
  float: left;
  border-radius: 50px 0px 0px 50px;
  background:green;
  height:42px;
  position: relative;
  text-align: center;
  line-height:40px;
  padding-top:11px;
}

i {
  color:yellow;
}

.contentform {
  padding: 15px 30px 30px 30px;
  float:middle;
  margin:auto;
}

.bouton-update{
  background-color: #008CBA;
  color: #FFF;
  text-align: center;
  width: 100%;
  border:0;
  padding: 12px 18px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
}

.formcontent {
  width:100%;
  float:middle;
  margin:auto;
  box-sizing: border-box;
  padding: 0px;
}

.validation {
  display:none;
  margin: 0 0 10px;
  font-weight:400;
  font-size:13px;
  color: #DE5959;
}

</style>

<script>
	history.pushState(null, null, location.href);
	window.onpopstate = function () {
        history.go(1);
    };
</script>

<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="../lib/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% if note %}
    <script>alert("You haven't been registered. Please register...")</script>
{% endif %}

<img src="/static/voxmed/images/progressbar.gif" class="glyphicon glyphicon-fire" aria-hidden="true" style="position:fixed; left:50%; float:middle; border-radius: 1px;
	transform:translate(-50%, -50%); width:auto; z-index:100; top:120px; display: none;" id="progressbar">


  <form id="edit" action="/rstpwd" method="post" enctype="multipart/form-data">
	  {% csrf_token %}
	    <!--<h1>Register</h1>-->

    <div class="contentform">

		<div class="formcontent">
            <center>
                <img src="/static/voxmed/images/logo.png" style="width:150px; height:150px; margin-bottom:20px; margin-right:20px; margin-left:10px;">
            </center>
            <div class="form-group">
				<p>E-mail <span>*</span></p>
				<span class="icon-case"><i class="fa fa-envelope-o"></i></span>
                	<input type="email" name="email" data-rule="required" data-msg="" required id="email" value="{{email}}" readonly/>
                	<div class="validation"></div>
			</div>
            <div class="form-group">
				<p>Enter Password <span>*</span></p>
				<span class="icon-case"><i class="fa fa-lock"></i></span>
                	<input type="password" name="password" data-rule="required" data-msg="" required id="password" value=""/>
                	<div class="validation"></div>
			</div>
            <div class="form-group">
				<p>Reenter Password <span>*</span></p>
				<span class="icon-case"><i class="fa fa-lock"></i></span>
                	<input type="password" name="repassword" data-rule="required" data-msg="" required id="repassword" value=""/>
                	<div class="validation"></div>
			</div>
			<div class="form-group" style="margin-top:15%; margin-bottom:15%;">
				<button type="submit" class="bouton-update" onclick="progressBar()">RESET PASSWORD</button>
			</div>

        </div>
	</div>
</form>

<script>
    function progressBar(){
        var email = document.getElementById("email").value;
        var password = document.getElementById("password").value;
        var repassword = document.getElementById("repassword").value;
        if(!validateEmail(email)){
            alert('Please enter a valid email.');
        }
        else if(password == ''){
            alert('Please enter your password');
        }
        else if(password.length < 8){
            alert('Please enter password of characters more than 8.');
        }
        else if(repassword == ''){
            alert('Please enter the same password again to confirm');
        }
        else {
            document.getElementById('progressbar').style.display = 'block';
        }
    }

    function validateEmail(email) {
      var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }
</script>

{% endblock %}














